# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
dist-ssr/
.output/
.tanstack/
.nitro/
.vinxi/
.cache/

# Local Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# Logs & Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS Temp Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Cloudflare / Serverless
.wrangler/

# Temporary / Backup files
*.tmp
*.bak
